*
{
	box-sizing: border-box;
}

body
{
	background-image: url(img/tabbar.jpg);
	color: #ffffff;
}

.conteiner:after 
{
  content: "";
  display: table;
  clear: both;
}

.header
{
	margin-bottom: 10px;
}

.inner-header
{
	background-color: #6A66FF;
	height: 150px;
}

.sidebar_1
{
	width: 25%;
	float: left;
}

.inner-sidebar_1
{
	background-color: #D6C915;
	border: 7px solid #FFF019;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	min-height: 500px;
}

.content
{
	width: 50%;
	float: left;
}

.inner-content
{
	background-color: #000000;
	min-height: 500px;
	margin: 10px;
}

.sidebar_2
{
	width: 25%;
	float: right;
}

.inner-sidebar_2
{
	background-color: #D6C915;
	border: 7px solid #FFF019;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	min-height: 500px;
}

.footer
{
	width: 100%;
}

.inner-footer
{
	background-color: #6A66FF;
	height: 100px;
}

a
{
	font-size: 14px;
}

a:hover
{
	color: #99BCFF;
} 