*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#particles-js{
	background-color: #000;
	height: 1000px;
}

header{
  padding-top: 30px;
  padding-bottom: 60px;

  text-align: center;

  color: #fff;
}