*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

body{
	display: grid;
	color: #C8C8C8;
	background-color: #222;
	background-image: url(img/top.jpg);
	background-repeat: no-repeat;
	grid-template-areas: 
		"header"
		"nav"
		"main"
		"footer";
}

@media (max-width: 1024px){
	body{
		background-image: none;
	}
}

/*head-conteiner*/

header{
	grid-area: header;
	display: flex;
	width: 100%;
	height: 150px;
	color: #fff;
}

@media (max-width: 1024px){
	header{
		height: 70px;
	}
}

.profile-block{
	display: grid;
	height: 50px;
	margin-top: 20px;
	margin-left: auto;
	background-color: #3CCE7B;
	grid-template-columns: 160px 80px 80px 80px;
}

@media (max-width: 1024px){
	.profile-block{
		margin-top: 10px;
		margin-right: auto;
	}
}

.linck-block{
	position: relative;
	display: flex;
	height: 100%;
	text-align: center;
	align-items: center;
	justify-content: center;
	border-right: 1px solid #FFF;
}

.profile-link{
	display: flex;
	height: 100%;
	width: 100%;
	font-size: 25px;
	align-items: center;
	justify-content: center;
}

.user-name{
	font-size: 20px;
}

.logout{
	border: 0px solid;
}

/*menu-conteiner*/

nav{
	grid-area: nav;
	width: 100%;
	height: 70px;
	border-top: 3px solid #FF6766;
	border-bottom: 3px solid #FF6766;
}

.menu-conteiner{
	display: grid;
	height: 70px;
	grid-template-areas: 
		"logo-block menu-block";
}

@media (max-width: 1260px){
	.menu-conteiner{
		grid-template-areas: 
			"logo-block"
			"menu-block";
	}
}

.logo-block{
	grid-area: logo-block;
	position: relative;
	height: 70px;
	width: 250px;
}

@media (max-width: 1260px){
	.logo-block{
		display: none;
	}
}

.logo{
	position: absolute;
	top: -10px;
}

.menu-block{
	grid-area: menu-block;
	position: relative;
	display: flex;
	height: 65px;
	margin-left: auto;
}

@media (max-width: 1260px){
	.menu-block{
		margin-left: auto;
		margin-right: auto;
	}
}

.catalog{
	position: relative;
	height: 100%;
	color: #FFF;
	font-size: 14px;
	text-align: center;
	transition: 0.4s;
}

.catalog:hover{
	background-color: #FF6766;
}

.catalog a{
	position: relative;
	display: block;
	height: 100%;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

/*a pseudo-element red triangle*/
.sub-menu-block::before{
	position: absolute;
	display: block;
	content: "";
	width: 0;
	height: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 7px solid #f66;
}

.sub-menu-block:hover .sub-menu{
	display: block;
}

.sub-menu{
	position: absolute;
	z-index: 3;
	display: none;
	width: 200px;
	right: 0;
	background: #333;
	border-top: 3px solid #FF6766;
	border-bottom: 3px solid #FF6766;
	background-color: #222;
}

.sub-menu li{
	position: relative;
	display: list-item;
	width: 100%;
	vertical-align: middle;
	list-style-type: none;
	border-top: 1px solid #444;
	transition: 0.4s;
}

.sub-menu li:hover{
	background-color: #333;
}

#N1{
	border-top: 0 solid;
}

.sub-menu a{
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	font-size: 15px;
}

/*main*/

main{
	grid-area: main;
	display: grid;
	margin-top: 20px;
	margin-bottom: 20px;
	grid-template-columns: 75fr 25fr;
	grid-column-gap: 20px;
	grid-template-areas: 
		"search-conteiner search-conteiner"
		"article filter"
		"article advertising";
}

@media (max-width: 1024px){
	main{
		grid-template-columns: 1fr;
		grid-template-areas: 
			"search-conteiner"
			"filter"
			"article"
			"article"
			"advertising";
	}
}

/*search-conteiner*/

.search-conteiner{
	grid-area: search-conteiner;
	height: 50px;
	position: relative;
	background-color: #333;
	margin-bottom: 20px;
}

.search-block{
	width: 100%;
	height: 100%;
	position: relative;
}

.search{
	background-color: #333;
	width: 100%;
	height: 100%;
	color: #ccc;
	border: 1px solid #777;
	padding: 15px 45px 15px 20px;
	font-weight: 300;
	font-style: italic;
	font-size: 14px;
	transition: 0.3s;
	height: 50px;
}

.search-submit {
	float: right;
	background: url(img/sprite.png) -25px -24px no-repeat;
	width: 24px;
	height: 24px;
	position: absolute;
	right: 10px;
	top: 11px;
	border: 0px solid #000;
}

/* Remove outline on the forms and links */ 
:active, :hover, :focus{ 
	outline: 0; outline-offset: 0; 
}

article{
	grid-area: article;
	display: grid;
	grid-template-areas: 
		"name-block img-block"
		"brief-description img-block"
		"all-description all-description"
		"anime-block anime-block"
		"coment-block coment-block";
	grid-template-columns: 1fr 300px;
	grid-column-gap: 15px;
	grid-row-gap: 15px;
	background-color: #333;
	padding: 15px;
}

article>section{
	border: 1px solid #222;
	border-radius: 7px;
	padding: 15px;
	color: #D5D5D5;;
	background-color: #222;
	font-size: 18px;
}

/*name-block*/
.name-block{
	grid-area: name-block;
	border-left: 4px solid #FF6766;
}

.name-block h1{
	font-weight: normal;
	font-style: normal;
	font-size: 28px;
	color: #fff;
}

.prices{
	padding: 10px 0px;
}

.star{
	cursor: pointer;
	color: #FCDB00;
}

.star:hover{
	color: #3CCE7B;
}

.rang{
	cursor: pointer;
	width: 40px;
	height: 20px;
	background-color: #f2b800;
	margin-top: 5px;
	margin-left: 5px;
	text-align: center;
	border: 2px solid #f2b800;
	border-radius: 3px;
}

.alt-name{
	width: 100%;
	margin-top: 10px;
	font-size: 16px;
}

/*brief-description-block*/
.brief-description{
	grid-area: brief-description;
	font-weight: normal;
	font-style: normal;
	font-size: 14px; 
}

.brief-description>p{
	padding: 3px 0px;
}

.brief-description>p> span{
	font-weight: 600;
}

.status{
	background-color: #3CCE7B;
	border: 1px solid #3CCE7B;
	border-radius: 3px;
	font-size: 12px;
	padding: 0px 3px;
}

.voice-acting{
	display: flex;
}

.voice-acting>span{
	font-weight: 600;
	padding-right: 3px;
}

.studio-name{
	color: #f66;
}

.dropdown-content{
	display: none;
}

/*img-block*/
.img-block{
	grid-area: img-block;
	display: grid;
	grid-template-columns: 5fr 2fr;
	grid-column-gap: 15px;
	grid-template-rows: 400px 50px;
	grid-row-gap: 15px;
	color: #fff;
}

.poster{
	grid-column: 1 / -1;
	align-self: center;
	width: 270px;
}

.block-to-list{
	display: flex;
	align-items: center;
}

.to-list{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	text-align: center;
	cursor: pointer;
	background-color: #3CCE7B;
	border: 2px solid #3CCE7B;
	border-radius: 5px;
}

.no-list{
	width: 100%;
	height: 100%;
	text-align: center;
	cursor: pointer;
	background-color: #444;
	border: 2px solid #444;
	border-radius: 5px;
}

.statistic{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #444;
	color: #fff;
	text-align: center;
	cursor: pointer;
	border: 2px solid #444;
	border-radius: 5px;
}


/*all-description-block*/
.all-description{
	grid-area: all-description;
	font-size: 15px;
}

.all-description>p{
	padding: 5px 0px;
}

/*anime-block*/
.anime-block{
	grid-area: anime-block;
}

.anime-menu{
	position: relative;
	display: flex;
	justify-content: flex-start;
	height: 50px;
	font-size: 12px;
	font-weight: 500;
	text-align: center;
	vertical-align: middle;
}

.anime-menu>div{
	position: relative;
	min-width: 100px;
	margin-right: 15px;
	padding: 15px 15px;
	cursor: pointer;
	transition: 0.4s;
	border: 3px solid #FF6766;
	border-radius: 7px;
	background-color: #444;
}

.anime-menu>div:hover{
	background-color: #FF6766;
}

.anime-menu>.selected{
	background-color: #FF6766;
}

.FAQ-to-wideo{
	width: 100%;
	background-color: #000;
	margin-top: 15px;
	padding: 10px;
	cursor: pointer;
	border-left: 3px solid #FF6766;
	font-weight: 600;
}

.mein-anime>h3{
	margin-top: 10px;
}

/*anime-video-block*/
.anime-video{
	margin-top: 15px;
}

.anime-seria-button{
	display: grid;
	grid-template-columns: repeat(12, 40px);
	grid-gap: 10px;
}

.anime-seria-button>div{
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background-color: #444;
	height: 40px;
	text-align: center;
	transition: 0.3s;
}

.anime-seria-button>div:hover{
	background-color: #3CCE7B;
}

.watch{
	background-color: #3CCE7B;
}

.player{
	margin-top: 15px;
}

.player>video{
	width: 100%;
}

.button-block{
	display: flex;
}

.light{
	cursor: pointer;
	max-width: 100px;
	margin-top: 10px;
	background-color: #444;
	padding: 10px;
}

.big-width-wideo{
	cursor: pointer;
	margin-top: 10px;
	margin-left: auto;
	background-color: #444;
	padding: 10px;
}

/*recomendation-block*/
.recomendation{}

/*viev-list-block*/
.viev-list{}

/*coment-block*/
.coment-block{
	grid-area: coment-block;
}

.coment-menu{
	position: relative;
	display: flex;
	justify-content: flex-start;
	height: 50px;
	font-size: 12px;
	font-weight: 500;
	text-align: center;
	vertical-align: middle;
}

.coment-menu>div{
	position: relative;
	width: 200px;
	margin-right: 15px;
	padding: 15px 15px;
	cursor: pointer;
	transition: 0.4s;
	border: 3px solid #FF6766;
	border-radius: 7px;
	background-color: #444;
}

.coment-menu>div:hover{
	background-color: #FF6766;
}

.coment-menu>.selected{
	background-color: #FF6766;
}

.coment-rules{
	margin: 10px 0px;
}

.coment-rules>p{
	margin: 5px 0px;
}

.rules{
	cursor: pointer;
}

.coment{
	background-color: #333;
	width: 100%;
	color: #ccc;
	border: 1px solid #777;
	padding: 10px;
	font-weight: 300;
	font-style: italic;
	font-size: 14px;
	min-height: 100px;
}

/*filter-block*/
.filter{
	grid-area: filter;
	background-color: #333;
}

@media (max-width: 1024px){
	.filter{
		height: 50px;
		background-color: #3CCE7B;
		margin-bottom: 20px;
	}
}

.head-filter{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 50px;
	text-align: center;
	color: #fff;
	font-weight: 500;
	border-bottom: 3px solid #FF6766;
}

@media (max-width: 1020px){
	.head-filter{
		border-bottom: 0px solid;
	}
}

/*advertising-block*/
.advertising{
	grid-area: advertising;
	background-color: #333;
}

/*footer-conteiner*/

footer{
	grid-area: footer;
	width: 100%;
	height: 170px;
	margin-top: 20px;
	background-color: #333;
	color: #fff;
}

footer>.conteiner>p{
	margin: 5px 0px;
}

/*general classes*/

a{
	color: #FFF;
	text-decoration: none;
}

.conteiner{
	width: 100%;
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto; 
	position: inherit;
}

.flexible-image{
	max-width: 100%;
}

.none{
	display: none;
}

.red-text{
	color: #f66;
}

.small-text{
	text-align: center;
	font-size: 12px;
}

.visible{
	display: block;
}


/*media*/
@media (max-width: 1320px){
	.conteiner{
		max-width: 1000px;
	}
}

@media (max-width: 1024px){
	.conteiner{
		max-width: 820px;
	}
}

@media (max-width: 840px){
	.conteiner{
		width: 100%;
		margin: 0 15px;
	}
}