*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  color: #c0c0c0;
  background-color: #000;
}

#particles-js{
  width: 100%;
  height: 100px;
}

header{
  padding-top: 30px;
  padding-bottom: 60px;

  text-align: center;

  color: #fff;
}


.header__title{
  margin-top: 60px;

  font-size: 42px;
  font-weight: 900;
}

.content{
  position: inherit;

  display: grid;

  width: 100%;
  max-width: 1300px;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;

  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}

.content>div>h3{
  color: #fff;
}

a{
  text-decoration: none;

  color: #007bff;;
}
